# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data (opcional, depende de si quieres subirlos)
data/raw/
#data/processed/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/